# ven. 17 sept. 2021 14:56:31 CEST
ct config
usocket-max-connexions 1
usocket-exit-on-last-disconnection 0
usocket-stay-alive-in-seconds-at-startup 5
add-plugins-dir /home/seb/.mpd-ng/plugins
add-plugins-dir /home/seb/libexec/mpd-ng/plugins
add-exts-dir /home/seb/.mpd-ng/exts
add-exts-dir /home/seb/libexec/mpd-ng/exts

ct plugins
load-plugins
enable-inputs all
enable-post-inputs all
enable-pre-outputs all
enable-outputs all

context /extensions
load-extentions

# EXTENSIONS
configure / extensions
    disable all
    configure collection
        root /home/seb/musique
        follow-symlinks 1
        enable

# INPUT PLUGINS
configure / plugins inputs
    enable all
    disable libsndfile
    configure libsndfile
        priority 1
        enable

# OUTPUT PLUGINS
configure / plugins outputs
    enable all


# POST_INPUT PLUGINS
configure / plugins post_outputs
    enable all

# PRE_OUTPUT PLUGINS
configure / plugins pre_outputs
    enable all

# FADE_FX PLUGINS
configure / plugins fade-effects
    configure on-inter-track
        configure prev-track
            clear
            configure 0
                start-at 0ms
                use volume-fade
                configure volume-fade
                    duration 10ms
                    orientation out
                    configure .. .. ..

        configure next-track
            clear
            configure 0
                start-at 0ms
                use volume-fade
                configure volume-fade
                    duration 10ms
                    orientation in
                    configure / plugins fade-effects

    configure on-manual-track-change
        configure prev-track
            clear
            configure 0
                start-at 0ms
                use volume-fade
                configure volume-fade
                    duration 700ms
                    orientation out
                    configure ..
                configure ..

            configure 1
                start-at 0ms
                use reverb-effect
                configure reverb-effect
                    duration 1000ms
                    intensity 1
                    configure ..
                configure ..
            configure ..

        configure next-track
            clear
            configure 0
                start-at 0ms
                use volume-fade
                configure volume-fade
                    duration 10ms
                    orientation in
                    configure / plugins / fade-effects

    configure on-stop
        clear
        configure 0
            start-at 0ms
            use volume-fade
            configure volume-fade
                duration 500ms
                orientation out
                configure .. .. ..

    configure on-pause-toggle
        configure stop-effect
            clear
            configure 0
                start-at 0ms
                use slow-fade
                configure slow-fade
                    duration 700ms
                    orientation out
                    animcurve linear
                    configure .. .. ..

        configure start-track
            clear
            configure 0
                start-at 0ms
                use slow-fade
                configure slow-fade
                    duration 700ms
                    orientation in
                    animcurve linear



#
# Configure output_stream
#
configure / output-stream
    clear

configure / output-stream 0
    use default
    rate 48000
    channels 2

configure / output-stream 1
    use default
    rate 48000
    channels 5

#
# From there, mpd-ng will switch back to whatever context he wants
# and start everything everything following these config directives.
#

#
# To have live status and info from player, the client should connect
# and:
#
# switch-context system
# list-available-channels
# {reply-to "list-available-channels"
#   system-player-channel
#   system-playlist-channel
#   exts-collection-channel }
# subscribe-to-channel exts-collection-channel
# {reply-to "subscribe exts-collection-channel" current-index 3}
# subscribe-to-channel system-player-channel
# {reply-to "subscribe system-player-channel" current-index 99}
#
# To have log info from server
# list-available-streams
# {reply-to "list-available-streams"
#   system-warning-log-stream
#   system-error-log-stream
#   system-debug-log-stream}
#
# subscribe-to-stream system-error-log-stream
# {reply-to "subscribe-to-stream system-error-log-stream" ok}
#
# Then go on command switch-context to send play commands example:
# switch-context command
# play "pathtofile" or
# exts-playlist-play 4
#

