# Flutio startup file

# EXTENSIONS PLUGINS
extension enable all

# INPUT PLUGINS
input enable all

# POST_INPUT PLUGINS
post_input enable all

# PRE_OUTPUT PLUGINS
pre_output enable all

# FADE_FX PLUGINS
fade_fx configure on-inter-track volume-fade 10ms
fade_fx configure on-stop volume-fade 500ms
fade_fx configure on-change volume-fade 500ms

# OUTPUT PLUGINS
output open default
